* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: linear-gradient(
    to bottom,
    #ffffff 150px,
    #dd88fa 250px,
    #8e53a1
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav {
  /* position: absolute;
  width: 100%;
  height: auto; */
}

.logo {
  position: absolute;
  right: 470px;
  top: -60px;
}

.logo img {
  width: 25rem;
}

.menu {
  position: absolute;
  top: 5rem;
  right: 30%;
}

content {
  display: flex;
  margin: 5px;
  width: 98%;
  position: absolute;
  top: 50%;

  justify-content: center;
}

.kep-1 {
  margin: 5px;

}

.kep-1:hover {
  background-color: #fff;
}
