* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to bottom,
    #ffffff 70px,
    #8e65a1 250px,
    #8e53a1
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  margin-top: 70px;
  background-image: url("dia.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: auto;
  height: 250px;
}

.logo {
  position: absolute; /* Abszolút pozíció */
  top: -200px;
  left: 150px;
}

.logo img {
  width: 450px;
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Középre igazítás */
}

.links a {
  position: relative;
}

.link1 {
  top: -35px; /* Távolság a középpont felett */
  left: -320px; /* Távolság a középpont bal oldalán */
}

.link1 img {
  width: 70px;
  transition: transform 0.3s;
}

.link2 {
  top: -35px; /* Távolság a középpont alatt */
  right: 240px; /* Távolság a középpont jobb oldalán */
}

.link2 img {
  transition: transform 0.3s;
}

.link3 {
  top: -12px; /* Távolság a középpont alatt */
  right: 170px; /* Távolság a középpont jobb oldalán */
}

.link3 img {
  width: 100px;
  transition: transform 0.3s;
}

.link1 img:hover {
  transform: scale(1.3);
}

.link2 img:hover {
  transform: scale(1.3);
}

.link3 img:hover {
  transform: scale(1.3);
}

.content {
  position: relative;
  width: 500px;
  height: 100px;
  left: 80vh;
  opacity: 0;
  transition: opacity 3s ease;
}

.content.show {
  opacity: 1;
}
